<div id="<%= dom_id candidate %>">
  <p>
    <strong>Name:</strong>
    <%= candidate.name %>
  </p>

  <p>
    <strong>Office:</strong>
    <%= candidate.office %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= candidate.party_id %>
  </p>

</div>
